<div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="center">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    fxFlex.lg="100%"
    fxFlex.xl="100%"
    class="section"
  >
    <h2 class="section-title">
      Frequently <span class="highlight-name">Asked Get in Questions</span>
    </h2>
    <h3 class="section-subtitle">
      Find answers to common questions about my services, collaborations, and how we can work together.
    </h3>
  </div>

  <cdk-accordion class="accordion">
    <div class="faq-category">
      <h2>General</h2>
    </div>
    @for (item of faqItems.general; track item.id) {
      <ng-container>
        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
          <button
            class="accordion-item-header"
            (click)="accordionItem.toggle()"
            tabindex="0"
            [attr.id]="'accordion-header-' + item"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + item"
          >
            {{ item.question }}
            <mat-icon matIconButton>
              <i [ngClass]="accordionItem.expanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'" aria-hidden="true"></i>
            </mat-icon>
          </button>

          @if (accordionItem.expanded) {
            <div
              class="accordion-item-body"
              role="region"
              [@expandCollapse]="accordionItem.expanded ? 'expanded' : 'collapsed'"
              [attr.id]="'accordion-body-' + item"
              [attr.aria-labelledby]="'accordion-header-' + item"
            >
              <p>{{ item.answer }}</p>
            </div>
          }
        </cdk-accordion-item>
      </ng-container>
    }

    <div class="faq-category">
      <h2>Services</h2>
    </div>
    @for (item of faqItems.services; track item.id) {
      <ng-container>
        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
          <button
            class="accordion-item-header"
            (click)="accordionItem.toggle()"
            tabindex="0"
            [attr.id]="'accordion-header-' + item"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + item"
          >
            {{ item.question }}
            <mat-icon matIconButton>
              <i [ngClass]="accordionItem.expanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'" aria-hidden="true"></i>
            </mat-icon>
          </button>

          @if (accordionItem.expanded) {
            <section
              class="accordion-item-body"
              [@expandCollapse]="accordionItem.expanded ? 'expanded' : 'collapsed'"
              [attr.id]="'accordion-body-' + item"
              [attr.aria-labelledby]="'accordion-header-' + item"
            >
              <p>{{ item.answer }}</p>
            </section>
          }
        </cdk-accordion-item>
      </ng-container>
    }

    <div class="faq-category">
      <h2>Projects</h2>
    </div>
    @for (item of faqItems.projects; track item.id) {
      <ng-container>
        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
          <button
            class="accordion-item-header"
            (click)="accordionItem.toggle()"
            tabindex="0"
            [attr.id]="'accordion-header-' + item"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + item"
          >
            {{ item.question }}
            <mat-icon matIconButton>
              <i [ngClass]="accordionItem.expanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'" aria-hidden="true"></i>
            </mat-icon>
          </button>

          @if (accordionItem.expanded) {
            <div
              class="accordion-item-body"
              role="region"
              [@expandCollapse]="accordionItem.expanded ? 'expanded' : 'collapsed'"
              [attr.id]="'accordion-body-' + item"
              [attr.aria-labelledby]="'accordion-header-' + item"
            >
              <p>{{ item.answer }}</p>
            </div>
          }
        </cdk-accordion-item>
      </ng-container>
    }
  </cdk-accordion>
</div>
