<div class="dialog-header">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <div class="dialog-actions">
    <button mat-icon-button color="primary" matTooltip="Download PDF" (click)="download()"><mat-icon>download</mat-icon></button>
    <button mat-icon-button color="accent" matTooltip="Zoom In" (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
    <button mat-icon-button color="accent" matTooltip="Zoom Out" (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
  </div>
</div>

<mat-dialog-content class="dialog-content">
  <app-pdf-viewer class="viewer" [url]="data.url!" ></app-pdf-viewer>
</mat-dialog-content>
