<mat-card class="mat-elevation-z4 card-container">
  <mat-card-subtitle class="card-title">Resume / CV</mat-card-subtitle>

  @if (latestResume) {
    <mat-card
      class="mat-elevation-z8"
      matTooltip="Open Profile"
      tabindex="0"
      (click)="openDialog()"
      (keydown.enter)="openDialog()"
      (keydown.space)="openDialog()"
    >

      <div class="header-flex">
        <div class="left-block">
          <mat-icon class="file-icon">
            <i class="fa fa-file" aria-hidden="true"></i>
          </mat-icon>
          <div class="details-block">
            <span class="upload-title">Latest Upload</span>
            <span class="upload-role">
              {{ latestResume.name.length > 20 ? (latestResume.name | slice:0:20) + '...' : latestResume.name }}
            </span>
            <span class="upload-title">{{ formatFileSize(latestResume.size) }}</span>
          </div>
        </div>
        <mat-icon class="circular-icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </mat-icon>
      </div>
    </mat-card>
  }

  @if (isAdmin())  {
    @for (resume of resumeFiles; track $index) {
      <div class="header-flex">
        <div class="left-block">
          <mat-icon class="file-icon">
            <i class="fa fa-file" aria-hidden="true"></i>
          </mat-icon>
          <div class="details-block">
            <span class="upload-title">Previous Upload</span>
            <span class="upload-role">
              {{ resume.name.length > 20 ? (resume.name | slice:0:20) + '...' : resume.name }}
            </span>
            <span class="upload-title">{{ formatFileSize(resume.size) }}</span>
          </div>
        </div>
        <button matButton="elevated" color="primary" class="select-btn">
          Use this file
        </button>
      </div>
    }

    <mat-card-subtitle class="card-title">
      Upload Resume / CV
      <mat-icon
        matTooltip="Upload a new version of your resume. Accepted formats: PDF, DOCX. Max size: 2MB."
        matTooltipPosition="above"
        class="info-icon"
      >
        info
      </mat-icon>
    </mat-card-subtitle>

    <div class="resume-upload">
      <app-dropzone-wrapper></app-dropzone-wrapper>
    </div>
  }
</mat-card>
