.app-content {
  .app-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-wrapper {
      display: inline;
      gap: 0.5rem;

      @media (max-width: 1200px){
        display: flex;
      }
      @media (max-width: 900px){
        display: flex;
      }
      @media (max-width: 600px) {
        display: flex;
      }

      .brand-title {
        margin: 0;
        font-weight: 700;
        font-size: 1.5rem;
        color: darkgoldenrod;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
      }
    }

    .menu-links {
      transform: translateX(-50px);
    }

    .nav-links {
      display: flex;
      justify-content: center;
      gap: 10px;

      @media (max-width: 600px) {
        display: grid;
      }
    }

    .nav-link {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.25rem 0.5rem;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
    }

    .nav-link:hover {
      color: darkgoldenrod;
    }

    .user-actions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .avatar-figure {
        transform: translateY(-2.2rem) translateX(-1rem);

        img {
          margin-left: -2rem;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
