<mat-drawer-container autosize>
  <mat-drawer-content class="app-content">
    <mat-toolbar class="app-toolbar">
      <div class="toolbar-wrapper">
        @if (isSmallScreen) {
          <a mat-icon-button [matMenuTriggerFor]="menuSmallSc" aria-label="Menu" style="transform: translateY(2px)">
            <mat-icon>menu</mat-icon>
          </a>
        }

        <a (click)="navigateTo(COMMON_CONSTANTS.SLASH)" style="transform: translateY(6px)">
          <h2 class="brand-title">mfzrl.dev</h2>
        </a>
      </div>

      @if (!isSmallScreen) {
        <div class="nav-links">
          <a (click)="navigateTo(ROUTE_PATHS.dashboard)" class="nav-link">Dashboard</a>
          <a (click)="navigateTo(ROUTE_PATHS.about)" class="nav-link">About</a>
          <a (click)="navigateTo(ROUTE_PATHS.blog)" class="nav-link">Blog</a>
          <a (click)="navigateTo(ROUTE_PATHS.achievement)" class="nav-link">Achievement</a>
          <a (click)="navigateTo(ROUTE_PATHS.resources)" class="nav-link">Resources</a>
          <a (click)="navigateTo(ROUTE_PATHS.contact)" class="nav-link">Contact</a>
        </div>
      }

      <div class="user-actions">
        @if (isLoggedIn) {
          <button matIconButton [matMenuTriggerFor]="notifications">
            <mat-icon matBadge="{{notificationList.length}}" matBadgeColor="warn">
              <i class="fa fa-bell" aria-hidden="true"></i>
            </mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User Menu">
            @if (hasProfileImage) {
              <figure class="avatar-figure">
                <img
                  [src]="profileImage"
                  alt="Profile"
                  (error)="onImageError()"
                />
              </figure>
            } @else {
              <span>{{ userInitials }}</span>
            }
          </button>
        } @else {
          <app-login></app-login>
        }
      </div>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #notifications="matMenu">
  @if (notificationList.length === 0) {
    <button mat-menu-item style="width:220px; text-align: center" disabled>
      <span>No new notifications</span>
    </button>
  } @else {
    <button mat-menu-item style="width:220px; text-align: center"  disabled>
      <span>Got new notifications</span>
    </button>

    @for (item of notificationList; track item.id;) {
      <button mat-menu-item style="width:300px">
        <span>{{item.message}}</span>
      </button>
    }
  }
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.profile)">
    <mat-icon matBadge="1" matBadgeSize="small" aria-hidden="false">
      <i class="fa fa-user" aria-hidden="true"></i>
    </mat-icon>
    <span>Profile</span>
  </button>
  <app-switcher-dark-mode></app-switcher-dark-mode>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.setting)">
    <mat-icon matBadge="1" matBadgeSize="small" aria-hidden="false">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </mat-icon>
    <span>Settings</span>
  </button>
  @if (this.featureFlags?.showWorkspaceComponent) {
    <hr>
    <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.workspace)">
      <mat-icon matBadge="1" matBadgeSize="small" aria-hidden="false">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </mat-icon>
      <span>Workspace</span>
    </button>
  }
  <hr>
  <button mat-menu-item (click)="logout()">
    <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu #menuSmallSc="matMenu">
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.dashboard)">Dashboard</button>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.about)">About</button>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.blog)">Blog</button>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.achievement)">Achievement</button>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.resources)">Resources</button>
  <button mat-menu-item (click)="navigateTo(ROUTE_PATHS.contact)">Contact</button>
</mat-menu>
