.tab-group-wrapper {
  display: flex;
  justify-self: center;
  box-sizing: border-box;
  width: 50%;

  .experience-details {
    padding-left: 0.5rem;
  }

  .company-logo {
    width: 48px;
    height: 48px;
    border-radius: 30%;
  }

  .experience-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .experience-subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  ul {
    padding-left: 1.5rem;
  }

  ul li {
    margin-bottom: 0.5rem;
  }

}

@media (max-width: 600px) {
  .tab-group-wrapper {
    width: 90%
  }
}
