mat-stepper {
  width: 100%;
  margin: 0 auto;
}

.experience-details {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.experience-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.company-logo {
  width: 48px;
  height: 48px;
  border-radius: 30%;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

.tab-group-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

mat-tab-group {
  width: 70%;
}


