<div fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutGap.xs="0rem" fxLayoutAlign="center">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="55%"
    fxFlex.lg="55%"
    fxFlex.xl="55%"
    class="section"
  >
    <app-card-profile-intro></app-card-profile-intro>

    <mat-card class="mat-elevation-z4 card-container" style="margin-bottom: 1rem;">
      <mat-card-actions class="card-actions">
        <h2 class="section-title">
          Hi, I’m <span class="highlight-name">{{ profileContent.name }}</span>
        </h2>
        @if (isAdmin()) {
          <a
            mat-icon-button
            matTooltip="Edit Intro"
            color="primary"
            rel="noopener"
          >
            <mat-icon>edit</mat-icon>
          </a>
        }
      </mat-card-actions>
      <h3 class="section-intro">
        {{ profileContent.introText }}
      </h3>

      <ul class="section-skill">
        @for (skill of profileContent.skills; track $index) {
          <li>{{ skill }}</li>
        }
      </ul>

      <p class="section-subtitle">
        {{ profileContent.description | slice:0:(isExpanded ? undefined : 120) }}
        @if (!isExpanded) {
          <span>...</span>
        }
      </p>

      @if (isExpanded) {
        <p class="section-subtitle">
          {{ profileContent.belief }}
        </p>
      }

      <button mat-button class="see-more-btn" (click)="toggleExpand()">
        {{ isExpanded ? 'See less' : 'See more' }}
      </button>
    </mat-card>

    <mat-card class="mat-elevation-z4 card-container">
      <mat-card-actions class="card-actions">
        <h3 class="section-title">Career Overview
          <mat-icon
            matTooltip="A high-level summary of my professional background, compensation expectations, and work eligibility"
            matTooltipPosition="above"
            class="info-icon"
          >
            info
          </mat-icon>
        </h3>
        @if (isAdmin()) {
          <a
            mat-icon-button
            matTooltip="Edit Intro"
            color="primary"
            rel="noopener"
          >
            <mat-icon>edit</mat-icon>
          </a>
        }
      </mat-card-actions>

      @for (pair of groupedDetails; track pair;) {
        <div class="inline-grid">
          @for (detail of pair; track detail;) {
            <div class="detail-item fade-in">
              <div class="detail-label">{{ detail.label }}</div>
              <div class="detail-value">{{ detail.value }}</div>
            </div>
          }
        </div>
      }
    </mat-card>
  </div>

  <div
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="33%"
    fxFlex.lg="23%"
    fxFlex.xl="20%"
    class="section"
  >
    <app-card-sidenav></app-card-sidenav>
  </div>
</div>
