<div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="center">
  <div fxFlex="100%" style="text-align: center">
    <div class="intro-text-tile">
      <h2>
        My <span style="color: darkgoldenrod;">Projects</span>
      </h2>
      <h3>
        Explore my portfolio of innovative solutions across various domains and technologies
      </h3>
    </div>
    <div class="project-list-button">
      @for (button of buttonConfigs; track button;) {
        <button
          matFab
          extended
          [style.background-color]="button.backgroundColor"
          [class.active]="button.isActive"
          (click)="toggleActive(button)">

          @if (button.icon) {
            <mat-icon class="file-icon">
              <i class="{{button.icon}}" aria-hidden="true"></i>
            </mat-icon>
          }
          {{ button.label }}
        </button>
      }
    </div>
  </div>

  @for (project of fullstackProjects?.slice(0, visibleProjectsCount); track project) {
    <div
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      fxFlex.md="47%"
      fxFlex.lg="30%"
      fxFlex.xl="30%"
    >
      <mat-card
        class="project-card mat-elevation-z8"
        [attr.data-project-id]="project.id"
        matRipple
        [matRippleColor]="'rgba(255, 215, 0, 0.3)'"
        (mousemove)="onCardMouseMove($event, project.id)"
        (mouseleave)="onCardMouseLeave(project.id)"
      >
        <div class="card-bg" [ngStyle]="{ 'background-image': 'url(assets/images/' + project.id + '.png)' }"></div>
        <div class="card-overlay">
          <mat-card-header>
            <mat-chip-listbox class="tags-status">
              @for (tech of project.status; let i = $index; track tech) {
                <mat-chip color="primary" selected>
                      <span [ngStyle]="{ 'color': getStatusColor(i) }">
                          {{ tech }}
                      </span>
                </mat-chip>
              }
            </mat-chip-listbox>
          </mat-card-header>
          <mat-card-content>
            <mat-card-title style="margin-top: 1rem;">{{ project.title }} {{ project.icon }}</mat-card-title>
            {{ project.description }}

            @for (feature of project.features; track feature) {
              <mat-list-item>
                <mat-icon inline>check_circle</mat-icon>
                <span style="color: palegoldenrod">
                        {{ feature }}
                    </span>
              </mat-list-item>
            }

            <mat-chip-listbox aria-label="Tech Stack" style="margin: 0.5rem;">
              @for (tech of project.techStack; track tech) {
                <mat-chip>
                  <img matChipAvatar [src]="tech.avatar" [alt]="tech.name + ' logo'" />
                  <span style="color: palegoldenrod">{{ tech.name }}</span>
                </mat-chip>
              }
            </mat-chip-listbox>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="accent" [href]="project.github" target="_blank">GitHub</a>
            <a mat-button color="primary" [href]="project.liveUrl" target="_blank">Live</a>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  }

  @if (fullstackProjects!.length > visibleProjectsCount) {
    <div fxFlex="100%" style="text-align: center">
        <button mat-stroked-button color="primary" (click)="toggleShowMore()" style="align-items: center">
          <mat-icon class="file-icon">
            <i class="fa-solid fa-layer-group"></i>
          </mat-icon>
          {{ showAllProjects ? 'Show Less' : 'See All Projects' }}
        </button>
    </div>
  }
</div>

