<div class="profile-container">
  <div class="profile-header">
    <img [src]="profileContent.avatar" alt="Profile" class="avatar" />
    <div class="info">
      <h1>{{ profileContent.name }}</h1>
      <h2>{{ profileContent.title }}</h2>
      <p class="location"><i class="fas fa-map-marker-alt"></i> {{ profileContent.location }}</p>
      <p class="bio">{{ profileContent.introText }}</p>

      <div class="social-links">
        @for (socialLink of socialLinkList; track socialLink.id) {
          <a
            [href]="socialLink.link"
            target="_blank"
            rel="noopener"
            class="avatar-inline"
            matTooltip="{{ socialLink.name }}">
            <img [src]="socialLink.icon" class="avatar-flex" alt="{{ socialLink.name }}"/>
          </a>
        }
      </div>
    </div>
  </div>

  <div class="profile-section">
    <h3>Core Skills</h3>
    <div class="chip-list">
      @for (skill of skillsList; track $index) {
        <span class="chip">{{ skill.name }}</span>
      }
    </div>
  </div>

  <div class="profile-section">
    <h3>DevOps Toolset</h3>
    <div class="chip-list">
      @for (tool of tools; track $index) {
        <div class="chip" matTooltip="{{ tool.name }}">
          <span>{{ tool.name }}</span>
        </div>
      }
    </div>
  </div>
</div>
