$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 704px,
  lg: 992px,
  xl: 1280px,
  xxl: 1472px,
  xxxl: 1760px
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}
