<div class="dialog-header">
  <h2 mat-dialog-title class="title">{{ data.role }}</h2>

  @if (isAdmin()) {
    <button mat-icon-button matTooltip="Delete Experience" (click)="deleteExperience()" class="delete-btn">
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>

<mat-dialog-content class="dialog-content">
  <div class="experience-header">
    <img [src]="data.image" alt="{{ data.companyName }}" class="company-logo"/>
    <div class="company-info">
      <h3>{{ data.companyName }}</h3>
      <p class="meta">{{ data.location }} • {{ data.companyType }} • {{ data.industry }}</p>
      <p class="duration">{{ data.startDate }} - {{ data.endDate }}</p>
    </div>
  </div>

  <section class="section">
    <h4>Summary</h4>
    <p>{{ data.summary }}</p>
  </section>

  @if (data.responsibilities?.length) {
    <section class="section">
      <h4>Responsibilities</h4>
      <ul class="list">
        @for (item of data.responsibilities; track item;) {
          <li>
            <mat-icon color="primary">check_circle</mat-icon>
            <span>{{ item }}</span>
          </li>
        }
      </ul>
    </section>
  }

  @if (data.achievements?.length) {
    <section class="section">
      <h4>Achievements</h4>
      <ul class="list">
        @for (item of data.achievements; track item;) {
          <li>
            <mat-icon color="accent">emoji_events</mat-icon>
            <span>{{ item }}</span>
          </li>
        }
      </ul>
    </section>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
