<div class="billing-container">
  <h2 class="section-title">Billing & Payments</h2>
  <mat-tab-group class="billing-tabs">
    <mat-tab label="Summary">
      <div class="billing-summary-grid">
        @for (item of billingServices; track $index) {
          <mat-card class="summary-card">
            <div class="card-content">
              <div class="card-icon-container">
                <mat-icon>{{ item.icon }}</mat-icon>
              </div>
              <div class="card-details">
                <h3 class="card-title">{{ item.name }}</h3>
                <p class="card-date">Usage from {{ item?.startDate }}</p>
                <p class="card-amount">
                  {{ item?.currency }} {{ item?.amount }}
                </p>
                <p class="card-description">
                  {{ item?.description }}
                </p>
              </div>
              @if (isAdmin()) {
                <div class="card-actions">
                  <button mat-raised-button color="accent" (click)="openPaymentDialog(item)">
                    <mat-icon>credit_card</mat-icon>Pay Now
                  </button>
                </div>
              }
            </div>
          </mat-card>
        }
      </div>
    </mat-tab>

    <mat-tab label="Subscriptions">
      <app-billing-subscription></app-billing-subscription>
    </mat-tab>

    <mat-tab label="Billing History">
      <app-billing-history></app-billing-history>
    </mat-tab>
  </mat-tab-group>
</div>
